<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="0.09696056807068254 0.7961255239700451 1.2359651333822272" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="0.09696056807068254 0.7961255239700451 1.2359651333822272" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 0.12754863948486314" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.12754863948486314" rpy="0 0 0"/>
            <geometry>
                <box size="0.15330946752946384 0.37332605938046454 0.2550972789697263" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.12754863948486314" rpy="0 0 0"/>
            <geometry>
                <box size="0.15330946752946384 0.37332605938046454 0.2550972789697263" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 3.6179825666911136" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.37027060699297837 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.37027060699297837 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7405412139859567 0.7880058004452457 0.6118710163951369" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.37027060699297837 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7405412139859567 0.7880058004452457 0.6118710163951369" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="floating">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.07665473376473192 0 0.12754863948486314" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 -0.16792980605261404" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.16792980605261404" rpy="0 0 0"/>
            <geometry>
                <box size="0.5582820818858323 1.1707215465673984 0.3358596121052281" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.16792980605261404" rpy="0 0 0"/>
            <geometry>
                <box size="0.5582820818858323 1.1707215465673984 0.3358596121052281" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.37027060699297837 0 -0.30593550819756843" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>